<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AAFinfo Report</title>
    <style>
      {{ css }}
    </style>
  </head>
  <body>
    <main>
      <h1>AAFinfo Report</h1>
    </main>
  </body>
</html>
